<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>El & Data Property</title>-->
    <!-- <title>Method Property</title> -->
    <!-- <title>'This' Keyword</title> -->
    <!-- <title>Directives: V-bind</title> -->
    <!-- <title>Directives: V-text & V-html</title> -->
    <!-- <title>Conditional Rendering</title> -->
    <!-- <title>Directives: V-show</title> -->
    <!-- <title>Directives: V-for</title> -->
    <title>Directives: V-once & settimeout function</title>
    <script src="vue.js"></script> <!--if we download vue js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script> <!--if we use vue js cdn-->
</head>
<body>
    <hr>
    <div id="title">
        <p><u>{{content}}</u></p>
    </div>

    <hr>
    <div id="myself">
        <!-- <p>My name is : {{name}}</p>  -->
        <p>My name is : {{getname()}}</p>
        <p>I am a male : {{gender}} </p>
        <p>I can speak : {{language[0]}} & {{language[1]}}</p>
        <p>My program was : {{undergraduation.program}} and my faculty was : {{undergraduation.faculty}} </p>
        <p>My undergraduation degree is : {{degree()}} </p>
    </div>

    <hr>
    <div id="imageandhref"> <!-- v-bind -->
        <!-- for the attributes of a html tag we dont have to use double curly braces -->
        <!-- we have to dinamicaly bind the data with attributes using v-bind directives else it wont work -->
        <img v-bind:src="src" v-bind:alt="alt" v-bind:height="heightandwidth" v-bind:width="heightandwidth"><br>
        <a v-bind:href="linkedinlink">{{click}}</a>
    </div>

    <hr>
    <div id="paragraph"> <!-- v-text & v-html -->
        <!-- 
        <p>{{text}}</p> 
        --> <!-- get the value using double curly braces -->
        <p v-text="text"></p> <!-- get the value using v-text directives -->
        <!-- 
        <p><i><strong><u>Instade of writing html code in html file we can send it from js file using v-html attributes.</u></strong></i>
        </p>
        --> <!--used html script --> 
        <p v-html="html"></p> <!-- get the html code using v-html directives -->
    </div>
    
    <hr>
    <div id="ifelse"> <!-- Conditional Rendering using vue js-->
        <!-- in between conditinal rendering if we use other tags or elements then the condition will break and it will give a error -->
        
        <!-- 
        <p v-if="userage >= requireduserage">
            You are good to go. 
        </p> 
        --> <!--this wont show because the condition is false-->
        
        <!-- 
        <p v-if="userage >= requireduserage">
            You are good to go. 
        </p> 
        --><!--this will show because the condition is true -->
        
        <p v-if="changeuser()">
            No need to change the user. The user is authentic. 
        </p> 
        <!--this will show because the condition is true -->
        
        <p v-if="userage >= requireduserage">
            You are good to go.
        </p>
        <!-- 
        <h1>Hasan</h1>  
        --><!--this will break the conditional rendering-->
        <!-- 
        <p v-else-if="username==='Nayeem'">
            User is authentic.
        </p> 
        -->
        <p v-else-if="username===checkuser()"> <!--we can also use methods property-->
            User is authentic.
        </p>
        <p v-else>
            You are not good to go.
        </p>
    </div>

    <hr>
    <div id="show">
        <p v-show="username==='Nayeem'">
            Show on display <!-- This portion is also rendered but hidden on the display because the condition is not true -->
        </p> 
        <p v-show="username!=='Nayeem'">
            Don't show on display  <!-- Because the user name is Hasan thats why displayed this -->
        </p>
    </div>

    <hr>
    <div id="for">
        <h5><u>Car Names</u></h5>
        <p v-for="car in cars"> <!-- Here cars are the array and car is a parameter-->
            <!--<p>ABC</p> --><!-- for this paragraph element the v-for is broken-->
            {{car}} <!-- we have to use the parameter using double curly braces after the v-for line. 
                If any other elements come in between then it will nor work-->
        </p>
        <h5><u>Car Names with index</u></h5>
        <p v-for="(car, index) in cars"> <!-- If we want to use multy parameters the we have to 
            use parentheses and have to use comma between the parameters-->
            {{index}}:{{car}}
        </p>
        <h5><u>User details</u></h5>
        <p v-for="(value, index, key) in user"> <!-- user is an object-->
            <!--{{index}}:{{key}}:{{value}}--> <!-- In the view page keys shows first though we used index ar first.
            the reason is key parameter are the right parameter of the loop, so we have to print parameters from right to
            left in order -->
            {{key}}:{{index}}:{{value}}
        </p>
        <h5><u>Show Numbers</u></h5>
        <p v-for="n in 5">
            {{n}}
        </p>
    </div>

    <hr>
    <div id="once">
        <h1>{{name}}</h1>
        <h1 v-once>{{name}}</h1> <!-- All the names will be re-rendered after 3 seconds because of the settimeout function.
        But we can stop re-rendering an element by using v-once-->
        {{update()}}
    </div>


<script src="app.js"></script> <!--added the file where we will do our code-->    
</body>
</html>
<!--To use vue code in html file we use double curly braces {{}}-->